* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background: #fbfaff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 20px;
}

/* ====================Upload/Drag Area==================== */
.upload {
  width: 44rem;
  height: 16rem;
  background: #f3f0ff;
  border: 0.1rem dashed #c1b2fa;
  border-radius: 0.8rem;
  display: grid;
  position: relative;
}

.drag-over {
  background: #ebe6ff;
}

.upload img {
  width: 4.8rem;
  height: 4.8rem;
  text-align: center;
  margin: 2.8rem 19.6rem 0;
}

.upload h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #7a5fec;
  text-align: center;
  margin-top: 1.2rem;
}

.upload p {
  font-weight: 400;
  color: #746e82;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 3.2rem;
}

/* ====================Files Area==================== */
.files {
  width: 44rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: 1.2rem;
  box-shadow: 0rem 0.4rem 1.6rem #eae2fd;
  border-radius: 0.8rem;
}

#state-img.file-uploading {
  width: 4.8rem;
  height: 5.6rem;
  background: url("./assets/file-uploading.svg");
}

#state-img.file-success {
  width: 4.8rem;
  height: 5.6rem;
  background: no-repeat url("./assets/file-success.svg");
}

#state-img.file-error {
  width: 4.8rem;
  height: 5.6rem;
  background-image: url("./assets/file-error.svg");
}

.file-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
}
.title-content h4 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.82rem;
  color: #575361;
}
.title-content p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.56rem;
  color: #857e95;
}
/* ====================Button Area==================== */
.btn-cancel {
  cursor: pointer;
  position: absolute;
  display: flex;
  background: no-repeat url("./assets/cancel.svg");
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  left: 34rem;
  border-radius: 50%;
}

.btn-retry {
  cursor: pointer;
  position: absolute;
  background: no-repeat url("./assets/retry.svg");
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  left: 34rem;
  border-radius: 50%;
}
.btn-cancel:hover,
.btn-retry:hover {
  border: 0.1rem solid #c1b2fa;
}

/* ====================Progress Area==================== */
.progress {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.progress-bar {
  width: 32.4rem;
  height: 0.8rem;
  background: #e3e3ed;
  border-radius: 99.9rem;
}

.bar-uploading {
  height: 0.8rem;
  background: linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7c3aed 100%);
  border-top-left-radius: 99.9rem;
  border-bottom-left-radius: 99.9rem;
}

.bar-success {
  height: 0.8rem;
  background: #73b172;
  border-radius: 99.9rem;
}

.bar-error {
  height: 0.8rem;
  background: #e3e3ed;
  border-radius: 99.9rem;
}

.progress p {
  font-weight: 500;
  font-size: 1.2rem;
}

p.text-uploading {
  color: #9892a6;
}
p.text-success {
  color: #4e884d;
}
p.text-error {
  color: #e36363;
}
